main {
    // width: 1500px;
    margin-left: 50px;
    a {
        padding: 10px;
    }
    .auto_admin {
        position: absolute;
        bottom: 0;
        float: left;
    }
    #delete {
        float: right;
    }
}