/* モバイルファースト */

body{
    div.main{
        background-color: #f8f8f8;
    }
}

.main{
    width: 100%;
    #me{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #575757;
        padding-bottom: 20px;
        img{
            margin: 30px 0 0 20px;
            width: 60px;
            height: 60px;
            border: solid 1px rgb(155, 155, 155);
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            object-fit: cover;
        }
        h2{
            margin: 45px 0 0 10px;
            color: #ffffff;
            span{
                font-size: 0.9rem;
            }
        }
    }
    .choice{
        display: flex;
        background-color: #f8f8f8;
        text-align: center;
        font-weight: bold;
        .c_favs{
            width: 50%;
        }
        .c_comments{
            width: 50%;
            background-color: #d3d3d3;
        }
    }
    .article{
        // border: black solid 1px;
        background-color: #f8f8f8;
        width: 95%;
        display: flex;
        margin: auto;
        #fav_article{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-around;
        }
        #comment_article{
            width: 100%;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-around;
        }
        .article_list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% /3);
            // background-color: tan;
            .a_l_detail{
                width: 80%;
                height: 80%;
                background-color: white;
                border-radius: 8px;
                border: 1px solid rgba(255,255,255,0.20);
                box-shadow: -6px -6px 26px 0 rgba(225,225,225,0.83);
                box-shadow: 6px 6px 16px 0 rgba(200,193,190,0.51);
                transition-duration: 0.5s;
                .image{
                    background-color: #ffffff;
                    width: 100%;
                    height: 60%;
                    background-position: center;
                    background-size: cover;
                    object-fit: cover;
                    border-radius: 8px 8px 0 0;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 8px 8px 0 0;
                    }
                }
                .a_l_d_title{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    p{
                        margin: 3px 0 0 3px;
                        font-size: 0.6rem;
                    }
                }
            }
            .a_l_detail:hover{
                box-shadow: inset -6px -6px 26px 0 rgba(225,225,225,0.83);
                box-shadow: inset 6px 6px 16px 0 rgba(200,193,190,0.51);
                transition-duration: 0.5s;
                .image{
                    opacity: 0.4;
                    img{
                        opacity: 0.4;
                    }
                }
            }
            .a_l_detail:active{
                box-shadow: inset -6px -6px 26px 0 rgba(225,225,225,0.83);
                box-shadow: inset 6px 6px 16px 0 rgba(200,193,190,0.51);
                transition-duration: 0.5s;
                .image{
                    opacity: 0.4;
                    img{
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) {
    /* 481px以上に適用されるCSS（タブレット用） */
    .main {
        width: 100%;
        #me{
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: #575757;
            padding-bottom: 20px;
            img{
                margin: 30px 0 0 20px;
                width: 60px;
                height: 60px;
                border: solid 1px rgb(155, 155, 155);
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                object-fit: cover;
            }
            h2{
                margin: 45px 0 0 10px;
                color: #ffffff;
                span{
                    font-size: 0.9rem;
                }
            }
        }
        .choice {
            display: flex;
            justify-content: space-around;
            background-color: #f8f8f8;
        }
        .article {
            // border: black solid 1px;
            background-color: #f8f8f8;
            width: 95%;
            display: flex;
            margin: auto;
            #fav_article {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: space-around;
            }
            #comment_article {
                width: 100%;
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: space-around;
            }
            .article_list {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% / 5);
                // background-color: tan;
                .a_l_detail{
                    width: 80%;
                    height: 80%;
                    background-color: white;
                    .date{
                        text-align: center;
                    }
                    .image{
                        background-color: #ffffff;
                        width: 100%;
                        height: 60%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .a_l_d_title{
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px){
    .main {
        width: 100%;
        #me{
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: #575757;
            padding-bottom: 20px;
            img{
                margin: 30px 0 0 20px;
                width: 60px;
                height: 60px;
                border: solid 1px rgb(155, 155, 155);
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                object-fit: cover;
            }
            h2{
                margin: 45px 0 0 10px;
                color: #ffffff;
                span{
                    font-size: 0.9rem;
                }
            }
        }
        .choice {
            display: flex;
            justify-content: space-around;
            background-color: #f8f8f8;
        }
        .article {
            // border: black solid 1px;
            background-color: #f8f8f8;
            width: 95%;
            display: flex;
            margin: auto;
            #fav_article {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: space-around;
            }
            #comment_article {
                width: 100%;
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: space-around;
            }
            .article_list {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% /7);
                // background-color: tan;
                .a_l_detail{
                    width: 80%;
                    height: 80%;
                    background-color: white;
                    .date{
                        text-align: center;
                    }
                    .image{
                        background-color: #ffffff;
                        width: 100%;
                        height: 60%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .a_l_d_title{
                    }
                }
            }
        }
    }
}