/* モバイルファースト */

body{
    div.main{
        background-color: #f2f2f2;
    }
}

.main {
    #me{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #575757;
        img{
            margin: 30px 0 0 20px;
            width: 60px;
            height: 60px;
            border: solid 1px rgb(155, 155, 155);
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            object-fit: cover;
        }
        h2{
            margin: 45px 0 0 10px;
            color: #ffffff;
            span{
                font-size: 0.9rem;
            }
        }
    }
    .choice {
        display: flex;
        justify-content: space-around;
        background-color: #f2f2f2;
    }
    .article {
        border: black solid 1px;
        background-color: #f2f2f2;
        #fav_article {
            display: flex;
            flex-wrap: wrap;
            display: none;
        }
        #comment_article {
            display: flex;
            flex-wrap: wrap;
        }
        .article_list {
            border: yellow solid 1px;
            width: 197px;
            height: 260px;
            margin-right: 25px;
            margin-top: 10px;
            .date {
                margin: 5px;
                text-align: center;
            }
            .image {
                height: 150px;
                width: 199px;
                background-color: black;
            }
            .user {
                margin-top: 5px;
                .user_image {
                    height: 30px;
                    width: 30px;
                    background-color: yellow;
                    float: left;
                }
                .user_name {
                    margin: auto 5px;
                }
            }
            .title {
                margin: 5px 0 0 35px;
            }
        }
    }
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px){
}