.main {
    width: 1000px;
    padding: 50px 0 50px 10px;
    .article {
        width: 620px;
        margin-top: 10px;
        padding-bottom: 66px;
        border: dashed 1px #000;
        float: left;
        .sub {
            height: 180px;
            border: dotted 1px #f0f;
            .user {
                height: 100px;
                width: 250px;
                float: left;
                border: solid 1px #0ff;
                .image {
                    border: dashed 1px #f00;
                    padding: 50px;
                    float: left;
                }
                p {
                    line-height: 100px;
                    margin: 0;
                }
            }
            .title {
                width: 364px;
                height: 100px;
                line-height: 100px;
                margin: 0;
                float: left;
                text-align: center;
                border: solid 1px #00f;
            }
            .article_info {
                .date {
                    float: left;
                }
                .add {
                    .comment {
                        float: right;
                        padding: 30px;
                        border: dotted 1px #f0f;
                    }
                    .twitter {
                        float: right;
                        padding: 30px;
                        border: dotted 1px #f0f;
                    }
                    .fav {
                        float: right;
                        padding: 30px;
                        border: dotted 1px #f0f;
                    }
                }
                .hash {
                    float: left;
                    margin: 0 0 0 10px;
                }
            }
        }
        .text {
            width: 550px;
            margin-left: auto;
            margin-right: auto;
            .big_image {
                width: 550px;
                height: 400px;
                margin-top: 20px;
                margin-bottom: 20px;
                border: dotted 1px #00f;
            }
            #comment_area{
                width: 550px;
                margin: 75px auto 66px auto;
                h2{
                    margin: 10px auto 10px auto;
                }
                img{
                    width: 550px;
                }
                .c_a_u_info{
                    display: flex;
                    flex-direction: row;
                    flex-flow: wrap;
                    align-items: center;
                    .c_u_img{
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                    }
                    .c_u_name{
                        margin-left: 10px;
                    }
                }
                .c_a_u_comment{
                    width: 550px;
                    textarea{
                        width: 100%;
                    }
                }
            }
            #comment_list{
                width: 550px;
                .c_l_contents{
                    border: 1px solid gray;
                    border-radius: 8px;
                    padding: 5px 10px;
                    .c_l_c_info{
                        display: flex;
                        flex-direction: row;
                        flex-flow: wrap;
                        align-items: center;
                        .c_l_c_img{
                            width: 45px;
                            height: 45px;
                            border-radius: 100%;
                            border: 1px solid gray;
                        }
                        .c_l_c_name{
                            margin-left: 10px;
                            font-size: 1.05em;
                            font-weight: bold;
                            text-decoration: none;
                            color: rgb(36, 35, 35);
                        }
                    }
                }
                .c_l_c_detail{
                    width: 500px;
                    pre{
                        width: 100%;
                        margin: 5px auto 5px 10px;
                        white-space: pre-wrap;
                    }
                }
                .c_l_c_other{
                    time{
                        margin-left: 333px;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}
