// .main {
//     width: 1000px;
//     .me {
//         margin-top: 10px;
//         width: 600px;
//         height: 110px;
//         .me_image {
//             padding: 50px;
//             float: left;
//             border: dashed 1px #000;
//         }
//         p {
//             // margin-top: 30px;
//             line-height: 110px;
//             font-size: 25px;
//         }
//     }
//     .content {
//         float: left;
//         width: 620px;
//         margin: 10px 0;
//         border: dashed 1px #000;
//         .article {
//             width: 500px;
//             height: 200px;
//             margin: 10px auto;
//             border: dashed 1px #f00;
//             position: relative;
//             .image {
//                 height: 200px;
//                 width: 200px;
//                 float: left;
//                 border: dashed 1px #000;
//             }
//             h4 {
//                 margin: 0;
//             }
//             .add {
//                 border: #ff0 dashed 1px;
//                 float: left;
//                 right: 0;
//                 bottom: 0;
//                 position: absolute;
//                 .comment {
//                     float: left;
//                     padding: 39px;
//                     border: dashed 1px #00f;
//                 }
//                 .twitter {
//                     float: left;
//                     padding: 40px;
//                     border: dashed 1px #0f0;
//                 }
//                 .fav {
//                     float: left;
//                     padding: 40px;
//                     border: dashed 1px #0ff;
//                 }
//             }
//         }
//     }
// }

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    #main_left{
        width: 55%;
        border: solid 1px rgb(155, 155, 155);
        flex-direction: column;
        padding: 20px 10px 10px 10px;
        #me{
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            img{
                width: 90px;
                height: 90px;
                border: solid 1px rgb(155, 155, 155);
                border-radius: 100%;
            }
        }
        .article_list{
            display: flex;
            flex-direction: row;
            height: 162px;
            margin-bottom: 20px;
            border: solid 1px rgb(155, 155, 155);
            .a_l_img{
                height: 150px;
                width: 150px;
                padding: 6px;
                a{
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    img{
                        height: 150px;
                        width: 150px;
                    }
                }
            }
            .a_l_details{
                width: 310px;
                display: flex;
                flex-direction: column;
                .a_l_d_link{
                    padding: 12px 6px 6px 6px;
                    a{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }
                .a_l_com-twi-fav{
                    width: 100%;
                    padding: 10px 0 10px 0;
                    margin: auto auto 0 auto;
                    align-self: flex-end;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    a{
                        margin: auto;
                        width: 32px;
                        height: 32px;
                    }
                }
            }
            .a_l_edit{
                width: 50px;
            }
        }
    }
    #main_right{
        width: 38%;
        padding: 10px;
        border: solid 1px rgb(155, 155, 155);
        .a_c_title{
            margin: auto;
            padding: 10px 0 10px 0;
            background-color: #259b25;
            h2{
                height: 33px;
                margin: auto;
                text-align: center;
                color: whitesmoke;
            }
        }
        #ajax_commentList{
            .a_c_details{
                margin-top: 12px;
                padding: 5px;
                border: solid 1px rgb(155, 155, 155);
                .a_c_d_userInfo{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    a:nth-child(1){
                        height: 44px;
                        img{
                            width: 42px;
                            height: 42px;
                            border: solid 1px black;
                            border-radius: 100%;
                        }
                    }
                    a:nth-child(2){
                        align-self: center;
                        margin-left: 10px;
                    }
                }
                .a_c_d_commentDetail{
                    padding-left: 25px;
                    pre{
                        margin: 0.6em 0 0.3em;
                        white-space: pre-wrap;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }
                .a_c_d_other{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    a{
                        font-size: 0.84em;
                    }
                    p{
                        font-size: 0.84em;
                        margin: 0.35em 0;
                    }
                }
            }
        }
    }
}