html{
    body{
        background-color: #fcfcfc;
    }
}

h1{
    text-align: center;
    font-size: 1.5em;
    margin: 1.5em;
}
.main {
    width: 96%;
    // border: aqua 1px dashed;
    background-color: #fcfcfc;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0.3px 0.3px 7px #b5b5b5, -0.3px -0.3px 7px #d6d6d6;
    .content{
        width: 100%;
        .title{
            margin-left: 1em;
            h3{
                margin-bottom: 0;
            }
            input{
                width: 80%;
            }
        }
        .hash{
            margin-left: 1em;
            margin-top: 0.75em;
            h3{
                margin-top: 1.5em;
                margin-bottom: 0;
            }
            input{
                width: 80%;
            }
        }
        #more_hash{
            margin: auto 3em auto auto;
            text-align: center;
            font-size: 0.8em;
            color: #00a0da;
            span:before{
                content: '\f078';
                display: inline-block;
                font-family: FontAwesome;
                font-weight: normal;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        .post_inputs{
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .p_i_input_img{
                width: 96%;
                height: 200px;
                margin: auto auto 1em auto;
                position: relative;
                border: solid 1px #d6d6d6;
                .p_i_p{
                    width: 70%;
                    height: 70%;
                    position: absolute;
                    background-color: #0033ff52;
                    border: solid 1px #6b9ad6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin: 0;
                    }
                    .post_file{
                        z-index: 10;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
                .post_img{
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: contain;
                    object-fit: contain;
                    opacity: 0;
                }
            }
        }
        .text{
            width: 92%;
            margin: auto;
        }
        #post{
        }
    }
}

@media screen and (min-width: 481px) {
    /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px) {
}