.main {
    width: 97%;
    // border: aqua 1px dashed;
    background-color: #fcfcfc;
    margin: auto;
    .content{
        width: 100%;
        .title{
        }
        .hash{
        }
        .post_inputs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .p_i_input_img{
                width: 96%;
                height: 150px;
                margin: auto;
                position: relative;
                p{
                    position: absolute;
                    margin: 0;
                    top: calc(100% / 2 - 1em);
                    left: calc(100% / 2 - 2.5em);
                }
                .post_file{
                    width: 75%;
                    height: 100px;
                    border: solid 1px olivedrab;
                    z-index: 10;
                    opacity: 0;
                    position: absolute;
                    top: calc(50% - 50px);
                }
                .post_img{
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    object-fit: contain;
                    opacity: 0;
                }
            }
        }
        .text{
            width: 96%;
            margin: auto;
        }
        #post{
        }
    }
}
