.side_bar {
    border: dashed 2px #000;
    float: right;
    width: 300px;
    margin-top: 10px;
    margin-right: 44px;
    margin-bottom: 10px;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #0f0;
    }
    .latest_article {
        width: 280px;
        height: 110px;
        margin: 5px auto;
        background-color: #ff0;
        p {
            // float: left;
            margin-bottom: 5px;
        }
        .detail {
            height: 60px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 13px;
        }
        .side_image {
            border: dotted 1px #000;
            padding: 40px;
            float: left;
        }
        .user_name {
            margin: 0;
            font-size: 10px;
            float: left;
        }
        .date {
            margin-top: 0;
            margin-bottom: 0;
            float: right;
            font-size: 10px;
        }
    }
}
