html {
    body {
        display: flex;
        flex-flow: column;
        // min-height: 100vh;
        width: 1000px;
        margin: auto;
        // padding: ;
        .header {
            // height: 300px;
            padding-bottom: 10px;
            background-color: aqua;
            .top {
                background-color: #000;
                // padding-top: 5px;
                // padding-bottom: 20px;
                height: 77px;
                h2 {
                    color: #f00;
                    float: right;
                    padding-right: 10px;
                    padding-left: 10px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    margin-right: 5px;
                    border: dashed #fff 2px;
                }
            }
            .header_bot {
                width: 1000px;
                // padding-left: 20px;
                .tp_intro {
                    float: left;
                    a {
                        color: red;
                        float: left;
                        margin-right: auto;
                    }
                    h2 {
                        width: 600px;
                    }
                }
                .ad {
                    width: 300px;
                    height: 250px;
                    float: right;
                    border: #000 dashed 2px;
                    margin-top: 8px;
                    margin-right: 8px;
                    // padding: 150px;
                }
            }
        }
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
        .footer {
            height: 300px;
            .foot_left {
                float: left;
                margin-left: 20px;
                width: 30%;
            }
            .foot_middle {
                padding: 0;
                // border: dashed 1px #0f0;
                float: left;
            }
            .foot_right {
                float: right;
                width: 30%;
                p {
                    margin-bottom: 0;
                }
                .foot_twitter {
                    border: dashed 1px #000;
                    // padding-top: 5px;
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    .foot_image {
                        float: left;
                        padding: 30px;
                        margin-right: 5px;
                        border: dashed 1px red;
                    }
                }
            }
        }
    }
}