.main {
    width: 1000px;
    .content {
        width: 620px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
        border: dashed 1px #000;
        .search {
            margin: 10px;
            text-align: center;
        }
        .article {
            width: 550px;
            margin: 10px auto;
            border: dashed 1px #000;
            // position: relative;
            display: flex;
            flex-direction: column;
            .article_image {
                height: 360px;
                width: 550px;
                border: dashed 1px #0f0;
            }
            .article_title {
                margin: 0.6em;
                text-align: center;
                font-size: 18px;
            }
            .article_description {
                margin: 0.6em;
                font-size: 0.9em;
            }
            .date {
                margin: 0.2em;
                font-size: 0.6em;
                // position: absolute;
                // float: left;
                // bottom: 0;
                // left: 0;
                // margin-bottom: 0;
            }
            .ctf_container{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;
                .comment {
                    // position: absolute;
                    // float: left;
                    // bottom: 0;
                    // right: 0;
                    // float: right;
                    // border: dashed 1px #f00;
                    // width: 50px;
                    // height: 50px;
                    margin-right: 0.5em;
                }
                .twitter {
                    // position: absolute;
                    // float: left;
                    // bottom: 0;
                    // right: 50px;
                    // float: right;
                    // border: dashed 1px #f00;
                    // width: 50px;
                    // height: 50px;
                    margin-right: 0.5em;
                }
                .fav {
                    // position: absolute;
                    // float: left;
                    // bottom: 0;
                    // right: 100px;
                    // float: right;
                    // border: dashed 1px #f00;
                    // width: 50px;
                    // height: 50px;
                    margin-right: 0.5em;
                    color:#135f13;
                    cursor: pointer;
                }
            }
        }
    }
}