/* モバイルファーストでCSSを構築していく */
body{
    // margin: auto;
    width: 100%;
    background-color: black;
    .welcome_header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 3.2rem;
        p{
            margin-right: 32%;
        }
        a:nth-child(2){
            display: none;
            color: whitesmoke;
            text-decoration: none;
            // font-size: 1.25em;
            border: none;
            margin-right: 3%;
        }
        a:nth-child(3){
            margin-right: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            // display: none;
            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                object-fit: cover;
            }
        }
    }
    .ztext-head{
        // position: absolute;
        // top: 5px;
        // left: 47%;
        font-size: 0.86em;
        line-height: 1em;
        color: whitesmoke;
        // margin: 25px auto 10px auto;
    }
    .z-layer:not(:first-child){
        color: red;
    }
    // #Quietflow{
    //     margin: 0;
    //     height: 100vh;
    //     width: 1000px;
    // }
    .welcome_section{
        margin: 0;
    }
    .header_band{
        height: 77px;
        background: black;
    }
    .welcome_image{
        // border: dashed 1px yellow;
        height: 90%;
        text-align: center;
        margin: auto;
        p:nth-child(1){
            margin-top: 7rem;
        }
        p{
            // margin-top: 200px;
            font-size: 2em;
            color: whitesmoke;
            text-align: center;
            vertical-align: middle;
            margin-bottom: 5rem;
        }
    }
    #main{
        // border: dashed 1px yellow;
        height: 45rem;
        // padding: 5% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div{
            width: 95%;
            height: 42%;
            a{
                background-color: rgba(255, 140, 0, 0.616);
                // display: flex;
                // text-align: center;
                display: block;
                // border: dashed 1px yellow;
                height: 100%;
                width: 100%;
                // &:last-child{
                //     float: right;
                // }
            }
        }
    }
}
.footer{
    color: palegoldenrod;
}
// html body .footer .foot_right .foot_twitter{
//     border: dashed 1px yellow;
// }

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px){
    body{
        // margin: auto;
        width: 100%;
        background-color: black;
        .welcome_header{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 3.8rem;
            padding: 1rem;
            p{
                position: absolute !important;
                // right: 49%;
                left: 48%;
                font-size: 1.2em;
                line-height: 1.2rem;
            }
            a:nth-child(2){
                display: block;
                color: whitesmoke;
                text-decoration: none;
                font-size: 1.25em;
                border: none;
                margin-right: 1rem;
            }
            a:nth-child(3){
                display: block;
                height: 3.2rem;
                width: 3.2rem;
                margin-bottom: 0.5rem;
                img{
                    height: 3.2rem;
                    width: 3.2rem;
                    text-decoration: none;
                    border: solid 1px #9b9b9b;
                    margin-right: 1rem;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    object-fit: cover;
                }
            }
        }
    }
    .ztext-head{
        // font-size: 1.5em;
        // line-height: 1.5rem;
        color: whitesmoke;
        // margin: 1rem auto;
    }
    .z-layer:not(:first-child){
        color: red;
    }
    // #Quietflow{
    //     margin: 0;
    //     height: 100vh;
    //     width: 1000px;
    // }
    .welcome_section{
        margin: 0;
    }
    .header_band{
        height: 77px;
        background: black;
    }
    .welcome_image{
        // border: dashed 2px yellow;
        height: 666px;
        text-align: center;
        margin: auto;
        p{
            margin-top: 200px;
            font-size: 3em;
            color: rgb(80, 80, 80);
            text-align: center;
            vertical-align: middle;
        }
    }
    #main{
        // border: dashed 2px yellow;
        margin: 15rem 0;
        height: 15rem !important;
        // padding: 5% 0;
        width: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
        div{
            // width: 95%;
            height: 20rem !important;
            padding: 1rem;
            a{
                background-color: rgba(255, 140, 0, 0.616);
                // display: flex;
                // text-align: center;
                display: block;
                // border: dashed 2px yellow;
                // height: 40%;
                // width: 40%;
                // &:last-child{
                //     float: right;
                // }
            }
        }
    }
    .footer{
        color: palegoldenrod;
    }
}
