@charset "UTF-8";
/* モバイルファースト */
:calcWidth {
  --yoko-amari: calc(width - 100%);
}

body div.main {
  background-color: #f8f8f8;
}

.main {
  width: 100%;
}

.main #me {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #575757;
  padding-bottom: 20px;
}

.main #me img {
  margin: 30px 0 0 20px;
  width: 60px;
  height: 60px;
  border: solid 1px #9b9b9b;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.main #me h2 {
  margin: 45px 0 0 10px;
  color: #ffffff;
}

.main #me h2 span {
  font-size: 0.9rem;
}

.main .choice {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-weight: bold;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main .choice #fav_button {
  width: 50%;
  padding: 12px 0;
  background-color: #F7E0E0;
}

.main .choice #comment_button {
  width: 50%;
  padding: 12px 0;
  background-color: #d3d3d3;
}

.main .article {
  background-color: #F7E0E0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 40px 0;
}

.main .article #fav_article {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main .article #fav_article a {
  text-decoration: none;
  color: #2422a7;
}

.main .article #fav_article a:visited {
  color: #2422a7;
}

.main .article #comment_article {
  width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main .article .article_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 3);
}

.main .article .article_list a {
  width: 82%;
  height: 82%;
}

.main .article .article_list a .a_l_detail {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
          box-shadow: -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
  -webkit-box-shadow: 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
          box-shadow: 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .article .article_list a .a_l_detail .image {
  background-color: #ffffff;
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.main .article .article_list a .a_l_detail .image img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.main .article .article_list a .a_l_detail .a_l_d_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.main .article .article_list a .a_l_detail .a_l_d_title p {
  margin: 3px 0 0 3px;
  font-size: 0.65rem;
}

.main .article .article_list a .a_l_detail:hover {
  -webkit-box-shadow: inset -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
          box-shadow: inset -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
  -webkit-box-shadow: inset 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
          box-shadow: inset 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main .article .article_list a .a_l_detail:hover .image {
  opacity: 0.4;
}

.main .article .article_list a .a_l_detail:hover .image img {
  opacity: 0.4;
}

.main .article .article_list a .a_l_detail:active {
  -webkit-box-shadow: inset -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
          box-shadow: inset -6px -6px 26px 0 rgba(225, 225, 225, 0.83);
  -webkit-box-shadow: inset 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
          box-shadow: inset 6px 6px 16px 0 rgba(200, 193, 190, 0.51);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main .article .article_list a .a_l_detail:active .image {
  opacity: 0.4;
}

.main .article .article_list a .a_l_detail:active .image img {
  opacity: 0.4;
}

#pop_background {
  display: none;
  position: fixed;
  top: 0;
  background-color: gray;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 666;
}

#main_modal {
  display: none;
  width: 86%;
  height: 74%;
  padding: 8px;
  border: solid 1px #9b9b9b;
  border-radius: 12px;
  position: fixed;
  left: calc(width - 100%);
  background-color: #f3f4f7;
  z-index: 667;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#main_modal .m_m_d_title h2 {
  font-size: 1.1rem;
}

#main_modal .m_m_d_title h2 a {
  text-decoration: none;
  color: #2422a7;
}

#main_modal .m_m_d_title h2 a:visited {
  color: #2422a7;
}

#main_modal .m_m_details {
  margin-top: 5px;
  padding: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
          box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
}

#main_modal .m_m_details .m_m_d_userInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
}

#main_modal .m_m_details .m_m_d_userInfo img {
  width: 36px;
  height: 36px;
  border: solid 1px black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#main_modal .m_m_details .m_m_d_userInfo p {
  margin-left: 10px;
  font-size: 0.85rem;
}

#main_modal .m_m_details .m_m_d_detail {
  margin-left: 24px;
}

#main_modal .m_m_details .m_m_d_detail pre {
  white-space: pre-wrap;
  margin: 0.8em 0;
  font-size: 0.95rem;
}

#main_modal .m_m_details .m_m_d_time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_modal .m_m_details .m_m_d_time a {
  text-decoration: none;
  color: #2422a7;
  font-size: 0.75rem;
}

#main_modal .m_m_details .m_m_d_time a:visited {
  color: #2422a7;
}

#main_modal .m_m_details .m_m_d_time p {
  margin: 0.7em 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .main {
    width: 100%;
  }
  .main #me {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #575757;
    padding-bottom: 20px;
  }
  .main #me img {
    margin: 30px 0 0 20px;
    width: 60px;
    height: 60px;
    border: solid 1px #9b9b9b;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main #me h2 {
    margin: 45px 0 0 10px;
    color: #ffffff;
  }
  .main #me h2 span {
    font-size: 0.9rem;
  }
  .main .choice {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background-color: #f8f8f8;
    font-weight: bold;
    text-align: center;
  }
  .main .choice #fav_button {
    width: 50%;
    padding: 12px 0;
  }
  .main .choice #comment_button {
    width: 50%;
    padding: 12px 0;
    background-color: #d3d3d3;
  }
  .main .article {
    background-color: #f8f8f8;
    width: 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main .article #fav_article {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .article #comment_article {
    width: 100%;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .article .article_list {
    width: calc(100% / 5);
  }
  .main .article .article_list a .a_l_detail .image {
    height: 55%;
  }
  #main_modal {
    display: none;
    width: 73%;
    height: 70%;
    padding: 8px;
    border: solid 1px #9b9b9b;
    border-radius: 12px;
    position: fixed;
    background-color: #ffffff;
    z-index: 667;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (min-width: 720px) {
  .main {
    width: 100%;
  }
  .main #me {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #575757;
    padding-bottom: 20px;
  }
  .main #me img {
    margin: 30px 0 0 20px;
    width: 60px;
    height: 60px;
    border: solid 1px #9b9b9b;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main #me h2 {
    margin: 45px 0 0 10px;
    color: #ffffff;
  }
  .main #me h2 span {
    font-size: 0.9rem;
  }
  .main .choice {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background-color: #f8f8f8;
    font-weight: bold;
    text-align: center;
  }
  .main .choice #fav_button {
    width: 50%;
    padding: 12px 0;
  }
  .main .choice #comment_button {
    width: 50%;
    padding: 12px 0;
    background-color: #d3d3d3;
  }
  .main .article {
    background-color: #f8f8f8;
    width: 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main .article #fav_article {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .article #comment_article {
    width: 100%;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .article .article_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% /7);
  }
}
