.main {
  width: 1000px;
  padding: 50px 0 50px 10px;
}

.main .article {
  width: 620px;
  margin-top: 10px;
  padding-bottom: 66px;
  border: dashed 1px #000;
  float: left;
}

.main .article .sub {
  height: 180px;
  border: dotted 1px #f0f;
}

.main .article .sub .user {
  height: 100px;
  width: 250px;
  float: left;
  border: solid 1px #0ff;
}

.main .article .sub .user .image {
  border: dashed 1px #f00;
  padding: 50px;
  float: left;
}

.main .article .sub .user p {
  line-height: 100px;
  margin: 0;
}

.main .article .sub .title {
  width: 364px;
  height: 100px;
  line-height: 100px;
  margin: 0;
  float: left;
  text-align: center;
  border: solid 1px #00f;
}

.main .article .sub .article_info .date {
  float: left;
}

.main .article .sub .article_info .add .comment {
  float: right;
  padding: 30px;
  border: dotted 1px #f0f;
}

.main .article .sub .article_info .add .twitter {
  float: right;
  padding: 30px;
  border: dotted 1px #f0f;
}

.main .article .sub .article_info .add .fav {
  float: right;
  padding: 30px;
  border: dotted 1px #f0f;
}

.main .article .sub .article_info .hash {
  float: left;
  margin: 0 0 0 10px;
}

.main .article .text {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.main .article .text .big_image {
  width: 550px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: dotted 1px #00f;
}

.main .article .text #comment_area {
  width: 550px;
  margin: 75px auto 66px auto;
}

.main .article .text #comment_area h2 {
  margin: 10px auto 10px auto;
}

.main .article .text #comment_area img {
  width: 550px;
}

.main .article .text #comment_area .c_a_u_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .article .text #comment_area .c_a_u_info .c_u_img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.main .article .text #comment_area .c_a_u_info .c_u_name {
  margin-left: 10px;
}

.main .article .text #comment_area .c_a_u_comment {
  width: 550px;
}

.main .article .text #comment_area .c_a_u_comment textarea {
  width: 100%;
}

.main .article .text #comment_list {
  width: 550px;
}

.main .article .text #comment_list .c_l_contents {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 10px;
}

.main .article .text #comment_list .c_l_contents .c_l_c_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .article .text #comment_list .c_l_contents .c_l_c_info .c_l_c_img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.main .article .text #comment_list .c_l_contents .c_l_c_info .c_l_c_name {
  margin-left: 10px;
  font-size: 1.05em;
  font-weight: bold;
}

.main .article .text #comment_list .c_l_c_detail {
  width: 500px;
}

.main .article .text #comment_list .c_l_c_detail pre {
  width: 100%;
  margin: 5px auto 5px 10px;
  white-space: pre-wrap;
}

.main .article .text #comment_list .c_l_c_other time {
  margin-left: 333px;
  font-size: 0.75em;
}
