.main {
  width: 1000px;
}

.main .content {
  width: 620px;
  margin: 20px 0 0 10px;
  border-radius: 6px;
  background-color: #ccc;
}

.main .content .me {
  margin-top: 10px;
  margin-left: 10px;
  width: 555px;
  height: 70px;
  margin: auto;
  border-radius: 6px;
  background-color: #fff;
}

.main .content .me .me_image {
  height: 60px;
  width: 60px;
  margin: 5px;
  float: left;
  border-radius: 50%;
}

.main .content .me p {
  padding-left: 10px;
  line-height: 70px;
  font-size: 20px;
}

.main .content .article {
  width: 555px;
  height: 150px;
  margin: 10px auto;
  border-radius: 6px;
  background-color: #fff;
}

.main .content .article #fake_left {
  float: left;
  height: 150px;
  width: 150px;
}

.main .content .article #fake_left a {
  height: 150px;
  width: 150px;
}

.main .content .article #fake_left a img {
  height: 150px;
  width: 150px;
  border-radius: 6px;
}

.main .content .article #fake_right {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .content .article #fake_right .title_text a {
  display: inline-block;
}

.main .content .article #fake_right .title_text a h3 {
  font-size: 1.1rem;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .content .article #fake_right .desc_text {
  height: 76px;
}

.main .content .article #fake_right .desc_text p {
  font-size: 0.9rem;
  margin: 5px 0;
  line-height: 1.2;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.main .content .article #fake_right .ctf_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .content .article #fake_right .ctf_container .date {
  margin: 0 0 5px 0;
  margin-right: auto;
  font-size: 0.75rem;
}

.main .content .article #fake_right .ctf_container .comment {
  margin-right: 0.5em;
}

.main .content .article #fake_right .ctf_container .twitter {
  margin-right: 0.5em;
}

.main .content .article #fake_right .ctf_container .fav {
  margin-right: 0;
  color: #135f13;
  cursor: pointer;
}
