@charset "UTF-8";
/* 静的な要素 */
header {
  z-index: -999;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

header .nav {
  position: absolute;
  width: 100%;
  top: 0;
  background: rgba(99, 99, 99, 0.95);
  -webkit-transition: 0.333s;
  transition: 0.333s;
}

header .nav ul:first-child {
  margin: 77px 0 0 0;
  padding: 0;
}

header .nav ul {
  margin: 10px auto 0 auto;
  padding: 10px;
}

header .nav ul li {
  list-style-type: none;
  display: block;
  color: #fff;
}

#hum_target {
  z-index: 999;
  background: rgba(63, 63, 63, 0.3);
  padding: 25px 25px 22px 26px;
  position: fixed;
  top: 0;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#hum_target .hum_t_inner {
  width: 40px;
  height: 30px;
  position: relative;
}

#hum_target .hum_t_inner .hum_t_i_line {
  display: block;
  width: 40px;
  height: 5px;
  background: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 50px;
  position: absolute;
}

#hum_target .hum_t_inner .hum_t_i_0 {
  top: 0;
}

#hum_target .hum_t_inner .hum_t_i_1 {
  top: 13px;
}

#hum_target .hum_t_inner .hum_t_i_2 {
  top: 26px;
}

.hamburger_menu {
  width: 400px;
  position: fixed;
}

.li_pro_img {
  text-align: center;
}

.li_pro_img img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: auto;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.li_pro_name {
  margin-bottom: 10px;
  font-size: 1.6em;
  text-align: center;
}

.li_pro_name a {
  color: whitesmoke;
  text-decoration: none;
}

.li_pro_comment_fav p {
  margin-left: 25px;
}

.li_pro_comment_fav ul {
  width: 90%;
  border: solid 1px whitesmoke;
  margin: 10px auto 0 auto;
  padding: 10px;
}

.li_pro_comment_fav ul li a {
  color: yellowgreen;
}

.li_pro_ad {
  border: dashed 2px yellow;
  height: 300px;
  width: 300px;
  margin: 40px auto 40px auto;
}

/* 動的な要素 */
.fadein {
  -webkit-transform: translateY(100%);
  transform: translateY(-100%);
}

header::-webkit-scrollbar {
  display: none;
}

.linea,
.lineb,
.linec {
  background: #ffffff;
}

.linea {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 13px;
}

.lineb {
  opacity: 0;
}

.linec {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: 13px;
}
