@charset "UTF-8";
body div.main {
  background-color: #d8d8d8;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #main_left {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main #main_left #me {
  padding: 30px 10px 10px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #575757;
}

.main #main_left #me img {
  width: 60px;
  height: 60px;
  border: solid 1px #9b9b9b;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.main #main_left #me h2 {
  margin: 10px 0 0 10px;
  color: #ffffff;
}

.main #main_left #me h2 span {
  font-size: 0.9rem;
}

.main #main_left #myComFav_link {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #575757;
}

.main #main_left #myComFav_link a {
  font-weight: bold;
  color: #ffee00;
}

.main #main_left #myComFav_link a:visited {
  color: #ffee00;
}

.main #main_left .article_edit {
  background-color: #f2f2f2;
  width: 97%;
  margin: 40px auto auto auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -2px;
  z-index: 10;
}

.main #main_left .article_edit p {
  margin: auto;
  font-size: 0.8rem;
}

.main #main_left .article_edit div {
  padding: 0.25rem 0.75rem 0 0.75rem;
  border: solid 1px #9b9b9b;
  border-bottom: solid 1px #f2f2f2;
  background-color: #f9f9f9;
}

.main #main_left .article_edit div a {
  margin: 3px 6px;
  font-size: 1.1rem;
}

.main #main_left .article_edit div a:nth-child(1) {
  color: #551A8B;
}

.main #main_left .article_edit div a:nth-child(2) {
  color: #c90000;
}

.main #main_left .article_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 140px;
  width: 96%;
  margin: -1 auto 20px auto;
  border: solid 1px #9b9b9b;
  background-color: #f9f9f9;
}

.main #main_left .article_list .a_l_img {
  height: 88%;
  width: 35%;
  margin: auto 3px;
}

.main #main_left .article_list .a_l_img a {
  margin: auto;
  width: 100%;
  height: 100%;
}

.main #main_left .article_list .a_l_img a img {
  border: solid 1px #9b9b9b;
  height: 98.5%;
  width: 100%;
}

.main #main_left .article_list .a_l_details {
  width: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #main_left .article_list .a_l_details .a_l_d_link {
  margin: 15px 0 0 10px;
}

.main #main_left .article_list .a_l_details .a_l_d_link a {
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 0.94rem;
  color: #0f0d82;
}

.main #main_left .article_list .a_l_details .a_l_com-twi-fav {
  width: 100%;
  margin: auto auto 6px auto;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main #main_left .article_list .a_l_details .a_l_com-twi-fav i {
  height: 50%;
}

.main #pop_background {
  display: none;
  position: fixed;
  top: 0;
  background-color: gray;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 666;
}

.main #main_right {
  display: none;
  width: 86%;
  height: 74%;
  padding: 8px;
  border: solid 1px #9b9b9b;
  border-radius: 12px;
  position: fixed;
  top: 11%;
  left: 4.3%;
  background-color: #ffffff;
  z-index: 667;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.main #main_right .batu_button {
  position: fixed;
  padding: 8px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right .batu_button div {
  border-radius: 50%;
  border: solid 1px gray;
  background-color: rgba(255, 0, 0, 0.2);
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right .batu_button div p {
  margin: 0;
  font-size: 2.5rem;
}

.main #main_right #ajax_commentList {
  display: none;
  z-index: 668;
}

.main #main_right #ajax_commentList .a_c_title {
  margin: auto;
  padding: 10px 0 10px 0;
  background-color: #259b25;
}

.main #main_right #ajax_commentList .a_c_title h2 {
  height: 33px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.main #main_right #ajax_commentList .a_c_details {
  margin-top: 12px;
  padding: 5px;
  border: solid 1px #9b9b9b;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a {
  text-decoration: none;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) {
  height: 44px;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) img {
  width: 42px;
  height: 42px;
  border: solid 1px black;
  border-radius: 50%;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(2) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-left: 6px;
  color: #1d1b9e;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(2):visited {
  color: #1d1b9e;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail {
  padding-left: 25px;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail pre {
  margin: 0.6em 0 0.3em;
  white-space: pre-wrap;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other a {
  font-size: 0.83em;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other p {
  font-size: 0.8em;
  margin: 0.35em 0;
}

.main #main_right #ajax_favList {
  display: none;
  z-index: 668;
}

.main #main_right #ajax_favList .a_f_title {
  margin: auto;
  padding: 10px 0 10px 0;
  background-color: #c73246;
}

.main #main_right #ajax_favList .a_f_title h2 {
  height: 33px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.main #main_right .a_f_details {
  margin-top: 12px;
  padding: 5px;
}

.main #main_right .a_f_details .a_f_d_userInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) {
  height: 44px;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) img {
  width: 42px;
  height: 42px;
  border: solid 1px black;
  border-radius: 50%;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(2) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-left: 6px;
  text-decoration: none;
  color: #1d1b9e;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(2):visited {
  color: #1d1b9e;
}

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px) {
  body div.main {
    background-color: #f2f2f2;
  }
  .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main #main_left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main #main_left #me {
    padding: 30px 10px 10px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #575757;
  }
  .main #main_left #me img {
    width: 60px;
    height: 60px;
    border: solid 1px #9b9b9b;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main #main_left #me h2 {
    margin: 10px 0 0 10px;
    color: #ffffff;
  }
  .main #main_left #me h2 span {
    font-size: 0.9rem;
  }
  .main #main_left #myComFav_link {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #575757;
  }
  .main #main_left #myComFav_link a {
    font-weight: bold;
    color: #ffee00;
  }
  .main #main_left #myComFav_link a:visited {
    color: #ffee00;
  }
  .main #main_left .article_edit {
    background-color: #f2f2f2;
    width: 97%;
    margin: 40px auto auto auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: -2px;
    z-index: 10;
  }
  .main #main_left .article_edit p {
    margin: auto;
    font-size: 0.8rem;
  }
  .main #main_left .article_edit div {
    padding: 0.25rem 0.75rem 0 0.75rem;
    border: solid 1px #9b9b9b;
    border-bottom: solid 1px #f2f2f2;
    background-color: #f9f9f9;
  }
  .main #main_left .article_edit div a {
    margin: 3px 6px;
    font-size: 1.1rem;
  }
  .main #main_left .article_edit div a:nth-child(1) {
    color: #551A8B;
  }
  .main #main_left .article_edit div a:nth-child(2) {
    color: #c90000;
  }
  .main #main_left .article_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 140px;
    width: 96%;
    margin: -1 auto 20px auto;
    border: solid 1px #9b9b9b;
    background-color: #f9f9f9;
  }
  .main #main_left .article_list .a_l_img {
    height: 88%;
    width: 35%;
    margin: auto 3px;
  }
  .main #main_left .article_list .a_l_img a {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .main #main_left .article_list .a_l_img a img {
    border: solid 1px #9b9b9b;
    height: 98.5%;
    width: 100%;
  }
  .main #main_left .article_list .a_l_details {
    width: 65%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main #main_left .article_list .a_l_details .a_l_d_link {
    margin: 15px 0 0 10px;
  }
  .main #main_left .article_list .a_l_details .a_l_d_link a {
    font-weight: bold;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 0.94rem;
    color: #0f0d82;
  }
  .main #main_left .article_list .a_l_details .a_l_com-twi-fav {
    width: 100%;
    margin: auto auto 6px auto;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .main #main_left .article_list .a_l_details .a_l_com-twi-fav i {
    height: 50%;
  }
  .main #pop_background {
    display: none;
    position: fixed;
    top: 0;
    background-color: gray;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 666;
  }
  .main #main_right {
    display: none;
    width: 86%;
    height: 74%;
    padding: 8px;
    border: solid 1px #9b9b9b;
    border-radius: 12px;
    position: fixed;
    top: 11%;
    left: 4.3%;
    background-color: #ffffff;
    z-index: 667;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .main #main_right .batu_button {
    position: fixed;
    padding: 8px 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main #main_right .batu_button div {
    border-radius: 50%;
    border: solid 1px gray;
    background-color: rgba(255, 0, 0, 0.2);
    height: 35px;
    width: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main #main_right .batu_button div p {
    margin: 0;
    font-size: 2.5rem;
  }
  .main #main_right #ajax_commentList {
    display: none;
    z-index: 668;
  }
  .main #main_right #ajax_commentList .a_c_title {
    margin: auto;
    padding: 10px 0 10px 0;
    background-color: #259b25;
  }
  .main #main_right #ajax_commentList .a_c_title h2 {
    height: 33px;
    margin: auto;
    text-align: center;
    color: whitesmoke;
  }
  .main #main_right #ajax_commentList .a_c_details {
    margin-top: 12px;
    padding: 5px;
    border: solid 1px #9b9b9b;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a {
    text-decoration: none;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) {
    height: 44px;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) img {
    width: 42px;
    height: 42px;
    border: solid 1px black;
    border-radius: 50%;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(2) {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin-left: 6px;
    color: #1d1b9e;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(2):visited {
    color: #1d1b9e;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail {
    padding-left: 25px;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail pre {
    margin: 0.6em 0 0.3em;
    white-space: pre-wrap;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_other a {
    font-size: 0.83em;
  }
  .main #main_right #ajax_commentList .a_c_details .a_c_d_other p {
    font-size: 0.8em;
    margin: 0.35em 0;
  }
  .main #main_right #ajax_favList {
    display: none;
    z-index: 668;
  }
  .main #main_right #ajax_favList .a_f_title {
    margin: auto;
    padding: 10px 0 10px 0;
    background-color: #c73246;
  }
  .main #main_right #ajax_favList .a_f_title h2 {
    height: 33px;
    margin: auto;
    text-align: center;
    color: whitesmoke;
  }
  .main #main_right .a_f_details {
    margin-top: 12px;
    padding: 5px;
  }
  .main #main_right .a_f_details .a_f_d_userInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) {
    height: 44px;
  }
  .main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) img {
    width: 42px;
    height: 42px;
    border: solid 1px black;
    border-radius: 50%;
  }
  .main #main_right .a_f_details .a_f_d_userInfo a:nth-child(2) {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin-left: 6px;
    text-decoration: none;
    color: #1d1b9e;
  }
  .main #main_right .a_f_details .a_f_d_userInfo a:nth-child(2):visited {
    color: #1d1b9e;
  }
}
