body div.main {
  background-color: #f2f2f2;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.main #main_left {
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px 10px 10px;
}

.main #main_left #me {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main #main_left #me img {
  width: 90px;
  height: 90px;
  border: solid 1px #9b9b9b;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.main #main_left .article_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 162px;
  margin-bottom: 20px;
  border: solid 1px #9b9b9b;
}

.main #main_left .article_list .a_l_img {
  height: 150px;
  width: 150px;
  padding: 6px;
}

.main #main_left .article_list .a_l_img a {
  margin: auto;
  width: 100%;
  height: 100%;
}

.main #main_left .article_list .a_l_img a img {
  height: 150px;
  width: 150px;
}

.main #main_left .article_list .a_l_details {
  width: 310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #main_left .article_list .a_l_details .a_l_d_link {
  padding: 12px 6px 6px 6px;
}

.main #main_left .article_list .a_l_details .a_l_d_link a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.main #main_left .article_list .a_l_details .a_l_com-twi-fav {
  width: 100%;
  padding: 10px 0 10px 0;
  margin: auto auto 0 auto;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main #main_left .article_list .a_l_edit {
  width: 50px;
  padding: 20px 0;
}

.main #main_right {
  width: 38%;
  padding: 10px;
  margin-top: 132px;
  border: solid 1px #9b9b9b;
}

.main #main_right #ajax_commentList {
  display: none;
}

.main #main_right #ajax_commentList .a_c_title {
  margin: auto;
  padding: 10px 0 10px 0;
  background-color: #259b25;
}

.main #main_right #ajax_commentList .a_c_title h2 {
  height: 33px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.main #main_right #ajax_commentList .a_c_details {
  margin-top: 12px;
  padding: 5px;
  border: solid 1px #9b9b9b;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) {
  height: 44px;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(1) img {
  width: 42px;
  height: 42px;
  border: solid 1px black;
  border-radius: 100%;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_userInfo a:nth-child(2) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-left: 10px;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail {
  padding-left: 25px;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_commentDetail pre {
  margin: 0.6em 0 0.3em;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other a {
  font-size: 0.84em;
}

.main #main_right #ajax_commentList .a_c_details .a_c_d_other p {
  font-size: 0.84em;
  margin: 0.35em 0;
}

.main #main_right #ajax_favList {
  display: none;
}

.main #main_right #ajax_favList .a_f_title {
  margin: auto;
  padding: 10px 0 10px 0;
  background-color: #c73246;
}

.main #main_right #ajax_favList .a_f_title h2 {
  height: 33px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.main #main_right .a_f_details {
  margin-top: 12px;
  padding: 5px;
  border: solid 1px #9b9b9b;
}

.main #main_right .a_f_details .a_f_d_userInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) {
  height: 44px;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(1) img {
  width: 42px;
  height: 42px;
  border: solid 1px black;
  border-radius: 100%;
}

.main #main_right .a_f_details .a_f_d_userInfo a:nth-child(2) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-left: 10px;
}
