@charset "UTF-8";
html body {
  background-color: #fcfcfc;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 1.5em;
  color: white;
}

.main {
  width: 96%;
  background-color: #fcfcfc;
  margin: auto;
  border-radius: 6px;
  -webkit-box-shadow: 0.3px 0.3px 7px #b5b5b5, -0.3px -0.3px 7px #d6d6d6;
          box-shadow: 0.3px 0.3px 7px #b5b5b5, -0.3px -0.3px 7px #d6d6d6;
}

.main .content {
  width: 100%;
}

.main .content .title {
  margin-left: 1em;
}

.main .content .title h3 {
  margin-bottom: 0;
}

.main .content .title input {
  width: 80%;
}

.main .content .hash {
  margin-left: 1em;
  margin-top: 0.75em;
}

.main .content .hash h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.main .content .hash input {
  width: 80%;
}

.main .content #more_hash {
  margin: auto auto auto 1.5em;
  font-size: 0.8em;
  color: #00a0da;
}

.main .content #more_hash #m_h_counter {
  font-weight: bold;
}

.main .content .post_inputs {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .content .post_inputs .p_i_input_img {
  width: 96%;
  height: 200px;
  margin: auto auto 1em auto;
  position: relative;
  border: solid 1px #d6d6d6;
}

.main .content .post_inputs .p_i_input_img .p_i_p {
  width: 70%;
  height: 70%;
  position: absolute;
  background-color: #0033ff52;
  border: solid 1px #6b9ad6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content .post_inputs .p_i_input_img .p_i_p p {
  margin: 0;
}

.main .content .post_inputs .p_i_input_img .p_i_p .post_file {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main .content .post_inputs .p_i_input_img .post_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
}

.main .content .post_inputs .p_i_delete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  border-radius: 50%;
}

.main .content .post_inputs .p_i_delete .p_i_d_count {
  display: inline-block;
  margin: auto auto auto 1em;
}

.main .content .post_inputs .p_i_delete .p_i_d_span {
  display: inline-block;
  text-align: center;
  margin-bottom: -1.35em;
  background-color: #949494;
  border: solid 1px #949494;
  display: inline-block;
  height: 34px;
  width: 34px;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 900;
}

.main .content #more_inputs {
  margin: auto;
  text-align: center;
  font-size: 0.8em;
  color: #00a0da;
}

.main .content #more_inputs #m_i_counter {
  font-weight: bold;
}

.main .content .text {
  width: 92%;
  margin: auto;
}

#pop_background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  z-index: 666;
}

#main_modal {
  display: none;
  position: fixed;
  width: 93%;
  height: 82%;
  padding: 0.7em;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 667;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#main_modal #previewArticle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main_modal #previewArticle #pa_userInfo {
  margin: 0 0 1em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_modal #previewArticle #pa_userInfo img {
  border: solid 1px #a5a5a5;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#main_modal #previewArticle #pa_userInfo p {
  margin: 0 0 0 0.5em;
  font-size: 0.86em;
}

#main_modal #previewArticle #thc_container {
  -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
          box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
}

#main_modal #previewArticle #thc_container #thc_c_title {
  text-align: center;
}

#main_modal #previewArticle #thc_container #thc_c_title h2 {
  color: #2422a7;
  margin: 0.5em 0 0 0;
  font-size: 1.25em;
}

#main_modal #previewArticle #thc_container #thc_c_hashs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#main_modal #previewArticle #thc_container #thc_c_hashs p {
  color: #2422a7;
  font-size: 0.75em;
  margin: 0.5em 0 0.5em 1em;
}

#main_modal #previewArticle #thc_container #thc_c_ctf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7em;
}

#main_modal #previewArticle #thc_container #thc_c_ctf div {
  margin-right: 0.5em;
}

#main_modal #previewArticle #pa_detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
          box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
  margin: 1.5em 0 1.5em 0;
}

#main_modal #previewArticle #pa_detail img {
  width: 100%;
  max-height: 200px;
  margin-top: 1.5em;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
}

#main_modal #previewArticle #pa_detail pre {
  white-space: pre-wrap;
  margin: 1em 0.5em;
}

#main_modal #previewArticle #pa_buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_modal #previewArticle #pa_buttons #pa_b_submit {
  font-size: 1.25em;
  font-weight: 600;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #eb6100;
  border-radius: 9px;
}

#main_modal #previewArticle #pa_buttons #pa_b_submit:hover {
  background-color: #ec8237;
}

#main_modal #previewArticle #pa_buttons #pa_b_back {
  font-size: 1.25em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 9px;
  color: #fff;
  background-color: #5a5a5a;
}

#main_modal #previewArticle #pa_buttons #pa_b_back:hover {
  background: #9c9c9c;
}

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px) {
  h1 {
    text-align: center;
  }
  .main {
    width: 96%;
    max-width: 700px;
    margin: auto;
    border-radius: 6px;
    -webkit-box-shadow: 0.3px 0.3px 7px #b5b5b5, -0.3px -0.3px 7px #d6d6d6;
            box-shadow: 0.3px 0.3px 7px #b5b5b5, -0.3px -0.3px 7px #d6d6d6;
  }
  .main .content {
    width: 100%;
  }
  .main .content .title {
    margin-left: 1em;
  }
  .main .content .title h3 {
    margin-bottom: 0;
  }
  .main .content .title input {
    width: 60%;
  }
  .main .content .hash {
    margin-left: 1em;
    margin-top: 0.75em;
  }
  .main .content .hash h3 {
    margin-top: 1.5em;
    margin-bottom: 0;
  }
  .main .content .hash input {
    width: 60%;
  }
  .main .content #more_hash {
    margin: auto auto auto 1.5em;
    font-size: 0.8em;
  }
  .main .content #more_hash #m_h_counter {
    font-weight: bold;
  }
  .main .content .post_inputs {
    margin-top: 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .content .post_inputs .p_i_input_img {
    width: 96%;
    height: 350px;
    margin: auto auto 1em auto;
    position: relative;
    border: solid 1px #d6d6d6;
  }
  .main .content .post_inputs .p_i_input_img .p_i_p {
    width: 70%;
    height: 70%;
    position: absolute;
    border: solid 1px #6b9ad6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .content .post_inputs .p_i_input_img .p_i_p p {
    margin: 0;
  }
  .main .content .post_inputs .p_i_input_img .p_i_p .post_file {
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .main .content .post_inputs .p_i_input_img .post_img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
  }
  .main .content .post_inputs .p_i_delete {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    border-radius: 50%;
  }
  .main .content .post_inputs .p_i_delete .p_i_d_count {
    display: inline-block;
    margin: auto auto auto 1em;
  }
  .main .content .post_inputs .p_i_delete .p_i_d_span {
    display: inline-block;
    text-align: center;
    margin-bottom: -1.35em;
    border: solid 1px #949494;
    display: inline-block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    font-size: 1.25em;
    font-weight: 900;
  }
  .main .content #more_inputs {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
  }
  .main .content #more_inputs #m_i_counter {
    font-weight: bold;
  }
  .main .content .text {
    width: 92%;
    margin: auto;
  }
  #pop_background {
    display: none;
    position: fixed;
  }
  #main_modal {
    display: none;
    position: fixed;
    width: 93%;
    max-width: 660px;
    height: 82%;
    padding: 0.7em;
    border-radius: 6px;
    z-index: 667;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #main_modal #previewArticle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #main_modal #previewArticle #pa_userInfo {
    margin: 0 0 1em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main_modal #previewArticle #pa_userInfo img {
    border: solid 1px #a5a5a5;
    border-radius: 50%;
    height: 39px;
    width: 39px;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main_modal #previewArticle #pa_userInfo p {
    margin: 0 0 0 0.5em;
    font-size: 0.86em;
  }
  #main_modal #previewArticle #thc_container {
    -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
            box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
  }
  #main_modal #previewArticle #thc_container #thc_c_title {
    text-align: center;
  }
  #main_modal #previewArticle #thc_container #thc_c_title h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.25em;
  }
  #main_modal #previewArticle #thc_container #thc_c_hashs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #main_modal #previewArticle #thc_container #thc_c_hashs p {
    font-size: 0.75em;
    margin: 0.5em 0 0.5em 1em;
  }
  #main_modal #previewArticle #thc_container #thc_c_ctf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.7em;
  }
  #main_modal #previewArticle #thc_container #thc_c_ctf div {
    margin-right: 0.5em;
  }
  #main_modal #previewArticle #pa_detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
            box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
    margin: 1.5em 0 1.5em 0;
  }
  #main_modal #previewArticle #pa_detail img {
    width: 100%;
    max-height: 200px;
    margin-top: 1.5em;
    background-position: center;
    background-size: contain;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #main_modal #previewArticle #pa_detail pre {
    white-space: pre-wrap;
    margin: 1em 0.5em;
  }
  #main_modal #previewArticle #pa_buttons {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main_modal #previewArticle #pa_buttons #pa_b_submit {
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 9px;
  }
  #main_modal #previewArticle #pa_buttons #pa_b_back {
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 9px;
  }
}
