@charset "UTF-8";
.side_bar {
  width: 90%;
  margin: auto auto 5rem auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
          box-shadow: 0.3px 0.3px 8px #BCBEC1, -0.3px -0.3px 8px #FFFFFF;
}

.side_bar h2 {
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #6b7cff54;
}

.side_bar .latest_article {
  height: 5.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.625rem;
}

.side_bar .latest_article .l_a_img img {
  width: 5rem;
  height: 5rem;
  border: solid 1.5px #b5b5b5;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
}

.side_bar .latest_article .l_a_detail {
  width: 100%;
  margin-left: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side_bar .latest_article .l_a_detail a:nth-child(1) {
  color: #0f0d82;
  text-decoration: none;
  width: 96%;
  font-size: 0.75em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.side_bar .latest_article .l_a_detail a:nth-child(2) {
  color: #0a094f;
  text-decoration: none;
  margin-top: auto;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  font-size: 0.72em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side_bar .latest_article .l_a_detail p {
  margin-top: auto;
  font-size: 0.66em;
  margin: 0;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px) {
  .side_bar {
    width: 300px;
    margin: 0.625rem 0.625rem auto auto;
    border-radius: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 3em;
  }
  .side_bar h2 {
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .side_bar .latest_article {
    height: 5.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.625rem;
  }
  .side_bar .latest_article .l_a_img img {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: contain;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .side_bar .latest_article .l_a_detail {
    width: 100%;
    margin-left: 0.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side_bar .latest_article .l_a_detail a:nth-child(1) {
    color: #0f0d82;
    text-decoration: none;
    width: 96%;
    font-size: 0.75em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .side_bar .latest_article .l_a_detail a:nth-child(2) {
    color: #0a094f;
    text-decoration: none;
    margin-top: auto;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    font-size: 0.72em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .side_bar .latest_article .l_a_detail p {
    margin-top: auto;
    font-size: 0.66em;
    margin: 0;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}
