.side_bar {
  border: dashed 2px #000;
  float: right;
  width: 300px;
  margin: 10px 10px 10px 0;
}

.side_bar h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #0f0;
}

.side_bar .latest_article {
  height: 83px;
  width: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.side_bar .latest_article .l_a_img img {
  width: 80px;
  height: 80px;
  border: solid 1.5px black;
}

.side_bar .latest_article .l_a_detail {
  width: 100%;
  margin-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side_bar .latest_article .l_a_detail a:nth-child(1) {
  width: 96%;
  font-size: 0.75em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.side_bar .latest_article .l_a_detail a:nth-child(2) {
  margin-top: auto;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  font-size: 0.72em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side_bar .latest_article .l_a_detail p {
  margin-top: auto;
  font-size: 0.66em;
  margin: 0;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
