html body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 1000px;
  margin: auto;
}

html body .header {
  padding-bottom: 10px;
  background-color: aqua;
}

html body .header .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  height: 77px;
}

html body .header .top .arrow {
  margin-right: 550px;
  color: whitesmoke;
}

html body .header .top a {
  margin-right: 10px;
  font-size: 1.5em;
  color: #f00;
  padding-right: 10px;
  padding-left: 10px;
  border: dashed #fff 2px;
}

html body .header .header_bot {
  width: 1000px;
}

html body .header .header_bot .tp_intro {
  margin: 10px 0 0 10px;
  float: left;
}

html body .header .header_bot .tp_intro a {
  color: red;
  float: left;
  margin-right: auto;
}

html body .header .header_bot .tp_intro h2 {
  width: 600px;
}

html body .header .header_bot .ad {
  width: 300px;
  height: 250px;
  float: right;
  border: #000 dashed 2px;
  margin-top: 8px;
  margin-right: 8px;
}

html body .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html body .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  padding: 10px;
}

html body .footer .foot_left {
  width: 30%;
  border: dashed 1px #0f0;
}

html body .footer .foot_middle {
  height: 300px;
  width: 40%;
  border: dashed 1px #0f0;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

html body .footer .foot_middle p {
  color: gray;
  font-size: 6rem;
  line-height: 1;
}

html body .footer .foot_middle .z-layer:not(:first-child) {
  color: yellowgreen;
}

html body .footer .foot_right {
  width: 30%;
  border: dashed 1px #0f0;
}

html body .footer .foot_right p {
  margin-bottom: 0;
}

html body .footer .foot_right .foot_twitter {
  border: dashed 1px #000;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

html body .footer .foot_right .foot_twitter .foot_image {
  float: left;
  padding: 30px;
  margin-right: 5px;
  border: dashed 1px red;
}

.arrow p {
  margin: 0;
  padding-left: 18px;
  font-weight: bold;
}

.arrow span {
  display: block;
  width: 220px;
  height: 2px;
  background-color: whitesmoke;
  position: relative;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation: arrow01 3.8s ease-in-out infinite forwards;
          animation: arrow01 3.8s ease-in-out infinite forwards;
}

@-webkit-keyframes arrow01 {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  30% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  85% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes arrow01 {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  30% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  85% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

.arrow span::after {
  content: "";
  display: block;
  width: 8px;
  height: 15px;
  border-right: 2px solid whitesmoke;
  -webkit-transform: rotate(45deg) scale(1, 0);
          transform: rotate(45deg) scale(1, 0);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  position: absolute;
  bottom: 1px;
  left: -9px;
  -webkit-animation: arrow02 3.8s ease-in-out infinite forwards;
          animation: arrow02 3.8s ease-in-out infinite forwards;
}

@-webkit-keyframes arrow02 {
  0% {
    -webkit-transform: rotate(45deg) scale(1, 0);
            transform: rotate(45deg) scale(1, 0);
  }
  45% {
    -webkit-transform: rotate(45deg) scale(1, 0);
            transform: rotate(45deg) scale(1, 0);
  }
  55% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
  }
  85% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 0;
  }
}

@keyframes arrow02 {
  0% {
    -webkit-transform: rotate(45deg) scale(1, 0);
            transform: rotate(45deg) scale(1, 0);
  }
  45% {
    -webkit-transform: rotate(45deg) scale(1, 0);
            transform: rotate(45deg) scale(1, 0);
  }
  55% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
  }
  85% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1, 1);
            transform: rotate(45deg) scale(1, 1);
    opacity: 0;
  }
}
