@charset "UTF-8";
/* モバイルファーストでCSSを構築していく */
body {
  width: 100%;
  background-color: black;
}

body .welcome_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2rem;
}

body .welcome_header p {
  margin-right: 32%;
}

body .welcome_header a:nth-child(2) {
  display: none;
  color: whitesmoke;
  text-decoration: none;
  border: none;
  margin-right: 3%;
}

body .welcome_header a:nth-child(3) {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

body .welcome_header a:nth-child(3) img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

body .ztext-head {
  font-size: 0.86em;
  line-height: 1em;
  color: whitesmoke;
}

body .z-layer:not(:first-child) {
  color: red;
}

body .welcome_section {
  margin: 0;
}

body .header_band {
  height: 77px;
  background: black;
}

body .welcome_image {
  height: 90%;
  text-align: center;
  margin: auto;
}

body .welcome_image p:nth-child(1) {
  margin-top: 7rem;
}

body .welcome_image p {
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5rem;
}

body #main {
  height: 45rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main div {
  width: 95%;
  height: 42%;
}

body #main div a {
  background-color: rgba(255, 140, 0, 0.616);
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  color: palegoldenrod;
}

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 720px) {
  body {
    width: 100%;
    background-color: black;
  }
  body .welcome_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.8rem;
    padding: 1rem;
  }
  body .welcome_header p {
    position: absolute !important;
    left: 48%;
    font-size: 1.2em;
    line-height: 1.2rem;
  }
  body .welcome_header a:nth-child(2) {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.25em;
    border: none;
    margin-right: 1rem;
  }
  body .welcome_header a:nth-child(3) {
    display: block;
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 0.5rem;
  }
  body .welcome_header a:nth-child(3) img {
    height: 3.2rem;
    width: 3.2rem;
    text-decoration: none;
    border: solid 1px #9b9b9b;
    margin-right: 1rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ztext-head {
    color: whitesmoke;
  }
  .z-layer:not(:first-child) {
    color: red;
  }
  .welcome_section {
    margin: 0;
  }
  .header_band {
    height: 77px;
    background: black;
  }
  .welcome_image {
    height: 666px;
    text-align: center;
    margin: auto;
  }
  .welcome_image p {
    margin-top: 200px;
    font-size: 3em;
    color: #505050;
    text-align: center;
    vertical-align: middle;
  }
  #main {
    margin: 15rem 0;
    height: 15rem !important;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main div {
    height: 20rem !important;
    padding: 1rem;
  }
  #main div a {
    background-color: rgba(255, 140, 0, 0.616);
    display: block;
  }
  .footer {
    color: palegoldenrod;
  }
}
